<div class="container">
  <header class="row">

    <div class="cal-md-12">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          {{#linkTo index class='brand'}}Nikton{{/linkTo}}
        </div>
        <div class="callapse navbar-callapse navbar-ex1-callapse">
          {{view App.AuthView}}
          <ul class="nav navbar-nav">
            {{#linkTo courses tagName='li'}}
              {{#linkTo courses}}Courses{{/linkTo}}
            {{/linkTo}}
            <li>
              <a href="#">Second</a>
            </li>
            <li>
              <a href="#">Third</a>
            </li>
          </ul>
        </div>
      </nav>
        
        
      <div id="errors-block"></div>
    </div>
  </header>
  
  <section class="row">
    <div class="span12">
      <div>
        {{outlet}}
      </div>
    </div>
  </section>
  <footer class="row">
    <div class="span12">
      &copy;2013
    </div>
  </footer>
</div>
